
@font-face{/*This sets the font to the custom that I have imported in the .ttf file.*/
  font-family: customFont;
  src:url(TitilliumWeb-Regular.ttf);
}

html{
  height: 100%;
  cursor: url('cursor.png'), auto;
}

::selection{/*This sets the highlight coloring for the website.*/
  color: #112D32;/*This is the font color when it is highlighted*/
  background: #6E6658;/*This is the higlighted color behind text.*/
}
body{
 /*This along with the footer positon being absolute make the footer stay at the bottom no matter the scale.*/
  min-height: 100vh;
  display:  flex;/*The body has to be a flexbox, so that the header, body, and footer stay at the correct places on the website regardless of scale or zoom. */
  flex-direction: column;
  background-color: #14242f;
  margin: 0;
  padding: 0;
  color: #BAE8E8;
}
*{
  color: #c9dbe8 !important;
}
#Title{
  margin-top: 25%;
}
.button{
  cursor: url('Finger.png'), auto;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 400px;
  margin-top: 100px;
  padding: 0;
  border: none;
  background: none;
  color: #BAE8E8;
  
  transition: 0.3s;
}
.button:hover{
  transform: scale(1.15);
}
#hideButton0{
  cursor: url('Finger.png'), auto;
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 400px;
  margin-top: 1300px;/*This is the height of show less button*/
  padding: 0;
  border: none;
  background: none;
  color: #BAE8E8;
  border-radius:10px;
  transition: 0.3s;
}
#hideButton1{
  cursor: url('Finger.png'), auto;
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 400px;
  margin-top: 1250px;/*This is the height of show less button*/
  padding: 0;
  border: none;
  background: none;
  color: #BAE8E8;
  border-radius:10px;
  transition: 0.3s;
}
#hideButton2{
  cursor: url('Finger.png'), auto;
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 400px;
  margin-top: 980px;/*This is the height of show less button*/
  padding: 0;
  border: none;
  background: none;
  color: #BAE8E8;
  border-radius:10px;
  transition: 0.3s;
}
#hideButton3{
  cursor: url('Finger.png'), auto;
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 400px;
  margin-top: 675px;
  padding: 0;
  border: none;
  background: none;
  color: #BAE8E8;
  border-radius:10px;
  transition: 0.3s;
}
#hideButton4{
  cursor: url('Finger.png'), auto;
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 400px;
  margin-top: 550px;
  padding: 0;
  border: none;
  background: none;
  color: #BAE8E8;
  border-radius:10px;
  transition: 0.3s;
}
#hideButton0:hover{
  transform: scale(1.15);
}
#hideButton1:hover{
  transform: scale(1.15);
}
#hideButton2:hover{
  transform: scale(1.15);
}
#hideButton3:hover{
  transform: scale(1.15);
}
#hideButton4:hover{
  transform: scale(1.15);
}
*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: customFont;
  font-weight: 600;
  font-size: 18px;
  color: #112D32;/*Sets the color of the font for the whole website.*/
}
.header-content{
  display: flex;
  width: 100%;
  font-weight: bold;
}
.header-content ul{
  display: flex;
  flex-grow:1;/*This makes the holder for the about and contact buttons stay at the top right of the screen.*/
  justify-content: flex-end;
  margin-right: 15px;
}
#ID{/*This is the logo at the top left of the page.*/
  /*border: 2px solid pink;*/
  margin: 15px;
  height: 60px;
}
.header-content li{
  /*border: 2px solid orange;*/
  margin-top: 10px;
  list-style-type: none;
}
.header-content a{
  text-decoration: none;
  /*border: 2px solid purple;*/
  margin: 5px;
}
span{
  margin: 0.25px;/*Keeps the ABOUT and CONTACT from pushing each other around.*/
}
h1{
  font-size:70px;
}
#summary{
  margin-top:50px; 
  margin-bottom:50px;
}
h2{
  font-size: 40px;
  margin-top:50px; 
  margin-bottom: 20px;
}
.body-content{
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
}
.bodyFlexbox{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
.aList{
  margin-left: 23px;
}
li{
  margin:5px;
}
.section{
  margin-top: 20px;
  margin-bottom: 40px;
}
.section2{
  margin-top: 20px;
  margin-bottom: 100px;
  

}
.aFlexbox{
  max-width: 1000px;
  width: 90%;
}
.aCenteredFlexbox{
  max-width: 1000px;
  width: 80%;
  text-align: center;
  
}
.grid{
  margin: 20px;
	padding: 2px;
	transition: grid-template-rows 1s;
	display: grid;
  grid-template-rows:  190px;/*length of the experience boxes before they expand.*/

  border-radius: 10px;/*Rounds off the edges of the boxes the experience info is in.*/
}

.aFlexbox2{
  
  overflow: hidden;
  padding: 25px;
  max-width: 1000px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;/*Rounds off the edges of the boxes the experience info is in.*/
  transition:0.3s;/*This is responsible for the flexbox scale growth transition.*/

  
}
.aFlexbox2:hover{
  transform: scale(1.015);
}
.grid:hover{
  transform: scale(1.015);
}
footer{
 
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  width:100%;
  margin-top:auto;
}
.footer-text{/*This is for the text in the footer*/
  
  margin-bottom: 0px;
  text-align: center;
}
#shortcuts{
  
  color:rgb(136, 189, 188);
  margin: 10px;
  transition:0.3s;/*This is responsible for the flexbox scale growth transition.*/
}
#shortcuts:hover{
  
  transform: scale(2);
}
/*This code is to animate the header href links when hovering over them with the cursor. I altered the code to fit my use, but original animation is from: https://codepen.io/jesperkc/pen/YaGYRr*/
a{
  color: #000;
  span{
    font-size: 18px;
    font-weight: normal;
    transition: all .4s;
  }
  span:nth-child(2){
    transition-delay: .05s;
  }
  span:nth-child(3){
    transition-delay: .1s;
  }
  span:nth-child(4){
    transition-delay: .15s;
  }
  span:nth-child(5){
     transition-delay: .20s;
   }
   span:nth-child(6){
     transition-delay: .25s;
   }
   span:nth-child(7){
     transition-delay: .30s;
   }
  &:hover{
    span{
    font-weight: bold;
    
    }
    span:nth-child(7){
     transition-delay: .30s;
   }
   span:nth-child(6){
     transition-delay: .25s;
   }
   span:nth-child(5){
     transition-delay: .20s;
   }
    span:nth-child(4){
      transition-delay: .15s;
    }
    span:nth-child(3){
      transition-delay: .1s;
    }
    span:nth-child(2){
      transition-delay: .05s;
    }
    span:nth-child(1){
      transition-delay: 0s;
    }
  }
  &.hover-shadow{
    &:hover{
    color: black;
    text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black;
    }
  }
  &.hover-color{
    
    
     &:hover{
     color: black;
    
    border-color: darkmagenta;
    }
  }
}
/*Below is the styling for the scrollbar.*/
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: #14242f;
  
}
::-webkit-scrollbar-thumb{
  width: 15px;
  background-color: #c9dbe8;
}
#contactPage{
  color: #112D32;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
}
#nameRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}

.contactForm{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 25px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;/*Rounds off the edges of the boxes the experience info is in.*/
  transition:0.3s;/*This is responsible for the flexbox scale growth transition.*/
}
.input-fieldName{
  width: 247px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  outline: none;
}
#input-field{
  width: 500px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  outline: none;
  background-color: #c9dbe8;
  color: #14242f !important;
}
#submitButton{
  height: 40px;
  width: 115px;
  background-color: #c9dbe8;
  border-radius:10px;
  margin-top: 10px;
  margin-left: 190px;
  transition: 0.3s;
  padding: 0;
  border: none;
  color: #14242f !important;
}
#submitButton:hover{
  transform: scale(1.15);
}
.message{
  min-height: 300px;
}
form{
  max-width: 500px;
}

/*Here is the animation for the text on the main page.*/
.fadeIn1 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeIn1 {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
@keyframes fadeIn1 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}
.fadeIn1 {
  margin-right: 15px;
  display: inline-block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}


.fadeIn2 {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.fadeIn2 {
  -webkit-animation-delay: 1.25s;
  -moz-animation-delay: 1.25s;
  animation-delay: 1.25s;
}
@keyframes fadeIn2 {
  from {
    opacity: 0;
  }
  to {
    opacity: 1; 
  }
}
.fadeIn2 {
  display: inline-block;
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}

