
@font-face{/*This sets the font to the custom that I have imported in the .ttf file.*/
  font-family: customFont;
  src:url(TitilliumWeb-Regular.ttf);
}
html{
  height: 100%;
}
body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  background-color:rgb(136, 189, 188);
}
::selection{/*This sets the highlight coloring for the website.*/
  color: #112D32;/*This is the font color when it is highlighted*/
  background: #6E6658;/*This is the higlighted color behind text.*/
}
body{
 /*This along with the footer positon being absolute make the footer stay at the bottom no matter the scale.*/
  min-height: 100vh;
  display:  flex;/*The body has to be a flexbox, so that the header, body, and footer stay at the correct places on the website regardless of scale or zoom. */
  flex-direction: column;
}
.button{
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 215px;
  margin-top: 328px;
  background-color:#112D32;
  color:rgb(136, 189, 188);
  border-radius:10px;
  transition: 0.3s;
}
.button:hover{
  transform: scale(1.15);
}

#hideButton1{
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 215px;
  margin-top: 1445px;
  background-color:#112D32;
  color:rgb(136, 189, 188);
  border-radius:10px;
  transition: 0.3s;
}
#hideButton2{
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 215px;
  margin-top: 1320px;
  background-color:#112D32;
  color:rgb(136, 189, 188);
  border-radius:10px;
  transition: 0.3s;
}
#hideButton3{
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 215px;
  margin-top: 865px;
  background-color:#112D32;
  color:rgb(136, 189, 188);
  border-radius:10px;
  transition: 0.3s;
}
#hideButton4{
  display: none;
  position: absolute;
  height: 40px;
  width: 115px;
  margin-left: 215px;
  margin-top: 590px;
  background-color:#112D32;
  color:rgb(136, 189, 188);
  border-radius:10px;
  transition: 0.3s;
}
#hideButton1:hover{
  transform: scale(1.15);
}
#hideButton2:hover{
  transform: scale(1.15);
}
#hideButton3:hover{
  transform: scale(1.15);
}
#hideButton4:hover{
  transform: scale(1.15);
}
*{ 
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: customFont;
  font-weight: 600;
  font-size: 18px;
  color: #112D32;/*Sets the color of the font for the whole website.*/
}
.header-content{
  display: flex;
  /*border: 2px solid yellow;*/
  
  width: 100%;
  background-color: rgb(136, 189, 188);
  font-weight: bold;
}
.header-content ul{
  display: flex;
  flex-grow:1;/*This makes the holder for the about and contact buttons stay at the top right of the screen.*/
  justify-content: flex-end;
  /*border: 2px solid green;*/
  margin-right: 15px;
}

#ID{/*This is the logo at the top left of the page.*/
  /*border: 2px solid pink;*/
  margin: 15px;
}
.header-content li{
  /*border: 2px solid orange;*/
  margin-top: 10px;
  list-style-type: none;
}
.header-content a{
  text-decoration: none;
  /*border: 2px solid purple;*/
  margin: 5px;
}
span{
  margin: 0.25px;/*Keeps the ABOUT and CONTACT from pushing each other around.*/
}
h1{
  font-size:70px;
}
#summary{
  margin-top:50px; 
  margin-bottom:50px;
}
h2{
  font-size: 40px;
  margin-top:50px; 
  margin-bottom: 20px;
}
.body-content{
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  justify-content: space-around;
}
.bodyFlexbox{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
}
#Exp{
  width: 600px;
}
.aList{
  margin-left: 23px;
}
li{
  margin:5px;
}
.section{
  margin-top: 20px;
  margin-bottom: 20px;
}
.section2{
  margin-top: 20px;
  margin-bottom: 100px;
}
.aFlexbox{
  width: 600px;
}
.grid{
  margin: 20px;
	padding: 2px;
	transition: grid-template-rows 1s;
	display: grid;
	grid-template-rows:  399px;
  border-radius: 10px;/*Rounds off the edges of the boxes the experience info is in.*/
}
.aFlexbox2{
  overflow: hidden;
  padding: 25px;
  max-width: 600px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;/*Rounds off the edges of the boxes the experience info is in.*/
  transition:0.3s;/*This is responsible for the flexbox scale growth transition.*/
}
.aFlexbox2:hover{
  transform: scale(1.015);
}
.grid:hover{
  transform: scale(1.015);
}
footer{
  background-color: #254E58;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  width:100%;
  margin-top:auto;
}
.footer-text{/*This is for the text in the footer*/
  margin-bottom: 0px;
  text-align: center;
}
#shortcuts{
  color:rgb(136, 189, 188);
  margin: 10px;
  transition:0.3s;/*This is responsible for the flexbox scale growth transition.*/
}
#shortcuts:hover{
  transform: scale(2);
}
/*This code is to animate the header href links when hovering over them with the cursor. I altered the code to fit my use, but original animation is from: https://codepen.io/jesperkc/pen/YaGYRr*/
a{
 
  color: #000;
  span{
    
    font-size: 18px;
    font-weight: normal;
    transition: all .4s;
  }
  span:nth-child(2){
    transition-delay: .05s;
  }
  span:nth-child(3){
    transition-delay: .1s;
  }
  span:nth-child(4){
    transition-delay: .15s;
  }
  span:nth-child(5){
     transition-delay: .20s;
   }
   span:nth-child(6){
     transition-delay: .25s;
   }
   span:nth-child(7){
     transition-delay: .30s;
   }
  &:hover{
    span{
    font-weight: bold;
    
    }
    span:nth-child(7){
     transition-delay: .30s;
   }
   span:nth-child(6){
     transition-delay: .25s;
   }
   span:nth-child(5){
     transition-delay: .20s;
   }
    span:nth-child(4){
      transition-delay: .15s;
    }
    span:nth-child(3){
      transition-delay: .1s;
    }
    span:nth-child(2){
      transition-delay: .05s;
    }
    span:nth-child(1){
      transition-delay: 0s;
    }
  }
  &.hover-shadow{
    &:hover{
    color: black;
    text-shadow: 1px 1px 0px black, 2px 2px 0px black, 3px 3px 0px black;
    }
  }
  &.hover-color{
    
    
     &:hover{
     color: black;
    
    border-color: darkmagenta;
    }
  }
}
/*Below is the styling for the scrollbar.*/
::-webkit-scrollbar{
  width: 15px;
}
::-webkit-scrollbar-track{
  background-color: rgb(136, 189, 188);
}
::-webkit-scrollbar-thumb{
  width: 15px;
  background: linear-gradient(#112D32, #254E58, #112D32);
}
#contactPage{
  background-color:rgb(136, 189, 188);
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  
}
#nameRow{
  display: flex;
  flex-direction: row;
  justify-content: center;
 
}
.contactForm{
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 25px;
  border:1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
  border-radius: 10px;/*Rounds off the edges of the boxes the experience info is in.*/
  transition:0.3s;/*This is responsible for the flexbox scale growth transition.*/
}
.input-fieldName{
  
  width: 247px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  outline: none;
}
#input-field{
  width: 500px;
  height: 40px;
  margin-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid #777;
  border-radius: 10px;
  outline: none;
  
}
#submitButton{
  height: 40px;
  width: 115px;
  background-color:#112D32;
  color:rgb(136, 189, 188);
  border-radius:10px;
  margin-top: 10px;
  transition: 0.3s;
}
#submitButton:hover{
  transform: scale(1.15);
}
.message{
  min-height: 300px;
}
form{
  max-width: 500px;
}